.d-grid {
  display: grid;
  grid-template-columns: 35% 40% 20%;
  grid-gap: 1%;
  box-sizing: border-box;
}

.d-grid > div {
  padding: 1% 0;
  font-size: 20px;
}

.d-points {
  font-size: 55px;
}

.d-grid-responsive {
  display: none;
}

@media (max-width: 1200px) {
  .d-dispaly-web {
    display: none;
  }

  .d-grid-responsive {
    display: grid;
  }
}
