.d-reg {
  font-size: 1.3rem;
  margin-left: -11.1%;
}

.d-dc {
  font-size: 3rem;
}

.driverRegBtn {
  background: #920e0e;
  color: aliceblue;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: large;
  border: 0rem;
  margin-top: 2.5%;
}

.driverRegBtn-short {
  background: #920e0e;
  color: aliceblue;
  width: 5rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: small;
  border: 0rem;
  margin-top: 2.5%;
}

.d-btnReg-short {
  display: none;
}

.driverRegBtn-short:hover,
.driverRegBtn-short:focus,
.driverRegBtn-short:active,
.driverRegBtn:hover,
.driverRegBtn:focus,
.officerRegBtn:active {
  color: rgb(2, 2, 2);
  background-color: aliceblue;
  border-color: #920e0e;
  border: 1px solid #920e0e;
}

@media (max-width: 1200px) {
  .d-btnReg-long {
    display: none;
  }

  .d-btnReg-short {
    display: inline;
  }

  .d-center-input {
    display: inline;
  }

  .d-reg {
    font-size: 1rem;
    margin-left: -21.1%;
  }

  .d-dc {
    font-size: 2rem;
  }
}

.d-link {
  color: darkred;
}

.d-link :hover {
  color: rgb(119, 116, 116);
}
