.viewDiv{
    margin-top: 3%;
    overflow-y: scroll;
    height: 30rem;
}
#viewDivPay{
    background-color: greenyellow !important;

}
#viewDivPending{
    background-color: palevioletred !important;
  
}
.fineViewTxt{
    color: blanchedalmond;
    font-weight: bold;
    margin-bottom: -0.2rem;
}
