.navbar-brand{
    color: blanchedalmond !important;
}
.nav-link{
    color: blanchedalmond !important;
}
#navbarNav{
    color: blanchedalmond !important;
}

#driveLoginLogoH{
    width: 5rem !important;
    margin-left: 2rem !important;
    margin-top: 0.5rem !important;
}
@media (max-width: 1200px) {
    .driveLoginLogoH {
        width: 5rem !important;
        align-content: center !important;
    }
    .officerNav{
        background: #880D11 !important;
    }
}
@media (min-width: 1200px) {
    .officerNav{
        background: #880D11 !important;
        height: 15% !important;
    }
}
@media (min-width: 1200px) {
    .links{
        padding-top: 10%;
    }
}
.profileOfficer{
    float: right;
}

.headerDiv{
    display: grid;
    grid-template-columns: repeat();
    box-sizing: border-box;
}