.d-ticekt-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

.d-comment-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  box-sizing: border-box;
}

.d-ticket-clr {
  background-color: #eff2f5;
}

.d-violation-body b {
  margin-left: 5px;
}

.d-violation-body label {
  margin-left: 15px;
  padding: 2px;
}

.d-delete {
  cursor: pointer;
}

#evidences {
  max-width: 25%;
  max-height: 25%;
  padding-right: 4%;
  margin-top: 2%;
}

.d-ticket-responsive {
  display: none;
}

@media (max-width: 900px) {
  .d-ticket-web {
    display: none;
  }

  .d-ticket-responsive {
    display: grid;
  }
}

.responsive-imageview-d {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.gallery-d {
  border: 1px solid #ccc;
}

.gallery-d:hover {
  border: 1px solid #777;
}

.gallery-d img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 700px) {
  .responsive-imageview-d {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive-imageview-d {
    width: 100%;
  }
}

.del-icon-d {
  cursor: pointer;
}

.d-inline {
  margin-left: -6%;
}
.d-inline-of {
  margin-left: -6%;
}

.image-holder img {
  float: left;
}
