.d-ticekt-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-gap: 1%;
  box-sizing: border-box;
  margin-bottom: 1%;
}

.d-comment-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1%;
  box-sizing: border-box;
}

.d-ticket-clr {
  background-color: #eff2f5;
}

.d-violation-body b {
  margin-left: 5px;
}

.d-violation-body label {
  margin-left: 15px;
  padding: 2px;
}

.d-delete {
  cursor: pointer;
}
