.d-center-form {
  padding: 0.5%;
  margin: auto;
  width: 50%;
}

.dx-field-value {
  width: min-content;
}

.d-reg {
  font-size: 1.3rem;
  margin-left: -11.1%;
}

.d-dc {
  font-size: 3rem;
}

.d-text-in {
  width: 80%;
}

.d-link {
  cursor: pointer;
}

.d-center-input {
  margin-left: 20%;
}
