.d-center-form {
  padding: 0.5%;
}

.dx-field-value {
  width: min-content;
}

.d-reg {
  font-size: 1.3rem;
  margin-left: -11.1%;
}

.d-dc {
  font-size: 3rem;
}

#d-text-in {
  width: 50%;
}

#labelName {
  /* margin-left: -85%; */
}

.d-center-input {
  /* display: flex;
  justify-content: center; */
}

.driverRegBtn {
  background: #920E0E;
  color: aliceblue;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  font-size: large;
  border: 0rem;
  margin-top: 2.5%;
}

.driverRegBtn:hover,
.driverRegBtn:focus,
.officerRegBtn:active {
  color: rgb(2, 2, 2);
  background-color: aliceblue;
  border-color: #920E0E;
  /*set the color you want here*/
  border: 1px solid #920E0E;
}


