.head {
  text-align: center;
  margin-bottom: -2rem;
  padding-top: 10%;
  padding-bottom: 18%;
}

.eviImage {
  /* max-width: 100%;
  height: auto; */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
